* {
    margin: 0;
    padding: 0;
}
#zoomBox{
	background: #000000;
}
body {
    min-width: 1024px;
    overflow: hidden;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    border-radius: 10px;
    background-color: transparent;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: #1458a7;
}

/*滑块效果*/
::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px transparent;
    background: #1458a7;
}

/*IE滚动条颜色*/
html {
    scrollbar-face-color: #1458a7; /*滚动条颜色*/
    scrollbar-highlight-color: transparent;
    scrollbar-3dlight-color: transparent;
    scrollbar-darkshadow-color: transparent;
    scrollbar-Shadow-color: transparent; /*滑块边色*/
    scrollbar-arrow-color: transparent; /*箭头颜色*/
    scrollbar-track-color: transparent; /*背景颜色*/
}

li {
    list-style: none;
}

/*header*/
.header {
    position: relative;
    width: 100%;
    height: 70px;
    background: #1458a7;
    color: #FFFFFF;
    line-height: 70px;
    z-index: 1;
    text-align: center;
}

.text {
    position: absolute;
    left: 120px;
}

.text1 {
    position: absolute;
    bottom: -10px;
    font-size: 20px;
}

.user {
    position: absolute;
    right: 195px;
    top: 5px;
    vertical-align: middle;
}

.home {
    position: absolute;
    right: 70px;
    top: 5px;
    color: #fff;
}

.h-line {
    position: relative;
    top: 70px;
    height: 3px;
    background: url(../images/line.png);
}

a:hover, a:active {
    color: red;
    text-decoration: none;
}

/*摄像头信息列表*/
.camera-list {
    background: transparent;
    border: 1px solid transparent;
    position: absolute;
    width: 36px;
    height: 36px;
    left: 30px;
}

.camera-list img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.camera-list:focus {
    outline: none;
}

/*摄像头列表*/
.camList {
    top: 20%;
    z-index: 2;
}

.carList {
    top: 28%;
    z-index: 2;
}

.layerList {
    left: 28px;
    top: 12%;
    z-index: 2;
}

/*摄像头选择框*/
.camera-search {
    min-width: 500px;
    width: 50%;
    position: absolute;
    top: 100px;
    left: 40%;
    z-index: 1;
    display: inline-block;
}

/*摄像头搜索框*/
.search {
    min-width: 500px;
    float: left;
    width: 100%;
    height: 40px;
}

.search input {
    min-width: 100px;
    width: 20%;
    height: 42px;
    text-indent: 10px;
    font-size: 12px;
}

.navbar-nav2 {
    float: right;
    margin-right: 15%;
}

/*checkbox样式  */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    display: none
}

label {
    display: inline-block;
    cursor: pointer;
}

label input[type="checkbox"] + span {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(../images/check.png) no-repeat;
    background-position: 3px 10px;
}

label input[type="checkbox"]:checked + span {
    background: url(../images/checked.png) no-repeat;
    background-position: 3px 10px;
}

/*设置多选框*/
.camear-settings {
    display: inline-block;
    margin-top: 3px;
}

input {
    border: 1px solid rgba(0, 0, 0, .1);
    height: 38px;
}

input:focus {
    outline: none;
}

.input-group-btn {
    display: inline-block;
    width: 8%;
    height: 42px;
    margin-left: -4px;
}

.btn-search {
    width: 100%;
    height: 100%;
    background: #1458a7;
    color: #fff;
}

/*搜索弹出框*/
.cam-list .dropdown-menu {
    width: 179px;
    height: 121px;
    margin: -1px;
    border-radius: 0;
    padding-top: 10px;
    overflow-y: scroll;
}

.dropdown-menu li a {
    width: 100%;
    color: #666;
    padding: 10px 40px;
    line-height: 14px;
}

.dropdown-menu .history a {
    font-size: 12px;
    display: inline-block;
    margin-left: -42px;
}

.history span {
    margin: 0 10px 20px;
}

.glyphicon-time {
    color: #666;
}

.dropdown-menu .history-more a {
    float: right;
    font-size: 12px;
    width: 50%;
    display: inline-block;
    text-align: right;
}

/*地图切换*/
.photoMap {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#video {
    width: 33%;
    height: 400px;
    background: #f7f7f7;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 3;
    display: none;
    box-shadow: #999 5px 5px 20px;
    text-align: center;
}

#video .Vtext {
    position: relative;
    top: 20px;
}

video {
    width: 100%;
    height: 350px;
}

#btnPause {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 4;
}

.btn-ok {
    color: #666;
    font-size: 22px;
}

.btn-ok:hover, .btn-ok:focus {
    color: #eee;
}

/*摄像头列表显示内容*/
.list-group-item {
    position: relative;
    display: block;
    padding: 0 2px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.cam-list {
    width: 280px;
    height: 37%;
    background: rgba(255, 255, 255, .8);
    position: absolute;
    top: 22%;
    left: 30px;
    z-index: 1;
}

#car_list {
    top: 30%;
    overflow-y: hidden;
}

#car_list .cam-content {
    overflow-y: scroll;
}

.cam-list span {
    font-size: 16px;
    color: #1458a7;
    margin: 11px;
}

.cam-content {
    width: 90%;
    height: 65%;
    border: 2px solid #1458a7;
    position: absolute;
    top: 29%;
    left: 5%;
}

.cam-button {
    width: 90%;
    height: 15%;
    position: absolute;
    top: 8%;
    left: 6%;
}

.cam-btn {
    width: 38%;
    background: transparent;
    border: transparent;
    position: absolute;
    top: 0;
}

.cam-btn:focus {
    outline: none;
}

.picture {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
}

.picture .car-pic {
    position: relative;
    top: 38%;
    left: 32%;
}

#pic {
    position: absolute;
    top: 40%;
    right: 8%;
    z-index: 4;
    margin-top: -200px;
    color: #fff;
    font-size: 34px;
}

#pic:hover, #pic:focus {
    color: #eee;
}

/*轮播图*/
.jcImgScroll {
    position: relative;
    height: 380px;
    margin: 15% auto 0 auto;
}

.jcImgScroll li {
    border: 1px solid #ccc;
}

.jcImgScroll li a {
    background: #fff;
    display: block;
    position: relative;
    z-index: 99;
}

.jcImgScroll li.loading a {
    background: #fff url(../images/loading.gif) no-repeat center center;
}

.jcImgScroll li img, .jcImgScroll li, .jcImgScroll em, .jcImgScroll dl {
    display: none;
    border: 0 none;
}

.jcImgScroll li img {
    width: 100%;
    height: 100%;
}

.jcImgScroll em.sPrev {
    background: url(../images/arrow-left.png) no-repeat left center;
}

.jcImgScroll em.sNext {
    background: url(../images/arrow-right.png) no-repeat right center;
}

.jcImgScroll dl dd {
    background: url(../images/NumBtn.png) no-repeat 0 bottom;
    text-indent: -9em;
}

.jcImgScroll dl dd:hover, .jcImgScroll dl dd.curr {
    background-position: 0 0;
}

/*信息采集*/
.message {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 3;
    width: 300px;
    height: 400px;
    margin-top: -150px;
    background: #fff;
    border: 1px solid #1458a7;
    border-radius: 10px;
}

.message p {
    margin: 6px 38px 0;
}

.meg-title {
    text-align: center;
}

.meg-describe {
    width: 75%;
    height: 95px;
    resize: none;
    border: 1px solid #1458a7;
    margin-left: 38px;
    padding: 8px;
}

.message .meg-describe p {
    margin: 10px;
}

.message #camera_name {
    width: 100%;
    border-color: #1458a7;
}

.message #camera_addr {
    width: 100%;
    border-color: #1458a7;
}

.btn-off {
    margin: 10px 30px;
}

.btn-sure {
    float: right;
    margin-right: 10%;
    color: #fff;
}

.btn-sure1 {
    float: right;
    margin-right: 10%;
    color: #fff;
}

.cam-content .car-li {
    margin: 5px;
}

.cam-content .car-li img {
    position: relative;
    top: 15px;
    width: 12%;
}

.cam-content .car-li .sp-text {
    display: inline-block;
    margin: 5px 5px 5px 18px;
}

.cam-content .car-li .sp-text1 {
    display: inline-block;
    font-size: 12px;
    margin-left: 45px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: left;
    color: #333;
}

.chacha {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
}

.chacha i {
    font-size: 20px;
}

.chachca i:hover {
    cursor: pointer;
    color: #ccc;
}

/*地图操作框*/
.btnGroupMap {
    position: absolute;
    top: 50%;
    margin-top: -200px;
    right: 30px;
    z-index: 1;
    width: 42px;
    background: #fff;
    border: 1px solid #1458a7;
    box-shadow: rgba(20, 88, 167, .5) 2px 2px 2px;
}

.btnGroupMap .btn {
    width:40px;
    border: none;
    background: #fff;
}

.tooltip {
    left: -65px;
    width: 74px;
}

.btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    background: #1098f7;
}

.btnGroupMap .btn img {
    width: 14px;
    height: 14px;
}

/*图层信息列表*/
.layer-list {
    position: absolute;
    top: 100px;
    left: 85px;
    z-index: 1;
    width: 150px;
    border: 1px solid #1458a7;
    background: #fff;
    font-size: 16px;
}

.layerContent {
    width: 100%;
}

.layerContent ul .layerLi {
    padding-left: 10px;
    background: #fff;
    color: #333;
}

.layerLi .name {
    position: relative;
    top: -7px;
}

.layerLi img {
    position: relative;
    top: -7px;
    right: -30px;
}

.layerContent ul .active {
    background: #1458a7;
    color: #fff;
}

.layerLi .layerCam {
    font-size: 14px;
    color: #999;
    margin-left: 20px;
}

/*摄像头类型*/
.camType {
    position: absolute;
    right: 225px;
    z-index: 1;
    height: 35px;
    border: 1px solid #1458a7;
    background: #fff;
    padding: 7px;
    font-size: 12px;
}

.camType1 {
    bottom: 25px;
}

.camType2 {
    bottom: 70px;
}

.camType span {
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}

.camType img {
    width: 15px;
}

#searchCamSelect {
    width: 140px;
    height: 27px;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
}

#searchCarSelect {
    width: 140px;
    height: 27px;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.cam-list .searchCam {
    margin-left: 24px;
    width: 80%;
    height: 35px;
}

.cam-list .searchCam span {
    font-size: 16px;
    margin: 0;
    color: #fff;
}

.cam-list .input-group-btn {
    display: inline-block;
    width: 18%;
    height: 30px;
}

.cam-list .searchCam input {
    width: 80%;
    height: 27px;
    text-indent: 10px;
    font-size: 12px;
}

.cam-list .searchCar {
    margin-left: 24px;
    width: 80%;
    height: 35px;
}

.cam-list .searchCar span {
    font-size: 16px;
    margin: 0;
    color: #fff;
}

.cam-list .input-group-btn {
    display: inline-block;
    width: 18%;
    height: 30px;
}

.cam-list .searchCar input {
    width: 80%;
    height: 27px;
    text-indent: 10px;
    font-size: 12px;
}

#searchSelect {
    width: 135px;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
}

/*导出列表*/
#excelDiv, #excelDivCar {
    width: 80%;
    height: 70%;
    display: none;
    text-align: center;
    background: rgb(255, 255, 255);
    overflow: scroll;
    border: 1px solid rgb(20, 88, 167);
    position: absolute;
    left: 10%;
    top: 15%;
    z-index: 1;
}

#excelDiv h3 {
    color: #1458a7;
}

#excelDiv table {
    overflow: scroll;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    white-space: nowrap;
}

#excelDiv table thead {
    background: #147bf3;
    color: #fff;
}

#excelDivCar h3 {
    color: #1458a7;
}

#excelDivCar table {
    overflow: scroll;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    white-space: nowrap;
}

#excelDivCar table thead {
    background: #147bf3;
    color: #fff;
}

/*缓冲区距离*/
#hcinput {
    width: 150px;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

@media screen and  (max-width: 1366px) {
    body .cam-list {
        width: 280px;
        height: 37%;
        background: rgba(255, 255, 255, .8);
        position: absolute;
        top: 22%;
        left: 30px;
        z-index: 1;
    }

    body .cam-content {
        width: 90%;
        height: 65%;
        border: 2px solid #1458a7;
        position: absolute;
        top: 32%;
        left: 5%;
    }

    body .photoMap {
        position: absolute;
        bottom: 20px;
        right: -34px;
    }

    body .photoMap img {
        width: 68%;
    }

    body .camType {
        position: absolute;
        right: 165px;
        z-index: 1;
        height: 25px;
        border: 1px solid #1458a7;
        background: #fff;
        padding: 3px;
        font-size: 12px;
    }

    body .camType img {
        width: 12px;
    }

    body .camType2 {
        bottom: 63px;
    }

    body .btnGroupMap {
        position: absolute;
        top: 50%;
        margin-top: -180px;
        right: 30px;
        z-index: 1;
        width: 30px;
        background: #fff;
        border: 1px solid #1458a7;
        box-shadow: rgba(20, 88, 167, .5) 2px 2px 2px;
    }

    body .btnGroupMap .btn {
        width: 28px;
        font-size: 12px;
        padding: 6px;
    }

    body .camera-search {
        min-width: 500px;
        width: 60%;
        position: absolute;
        top: 90px;
        left: 40%;
        z-index: 1;
        display: inline-block;
    }

    body #searchSelect {
        width: 115px;
        padding: 0;
        border: none;
        outline: none;
        border-radius: 5px 0 0 5px;
    }

    body #hcinput {
        width: 125px;
        padding: 0;
        border: none;
        outline: none;
        border-radius: 5px;
    }

    body .header {
        position: relative;
        width: 100%;
        height: 60px;
        background: #1458a7;
        color: #FFFFFF;
        line-height: 60px;
        z-index: 1;
        text-align: center;
    }

    body .text img {
        width: 80%;
    }

    body .text {
        position: absolute;
        left: 100px;
    }

    body .h-line {
        top: 60px;
    }

    body .btn-sure {
        float: right;
        margin: 0;
        color: #fff;
        position: absolute;
        top: 0;
        right: -60px;
    }

    body .message .btn-sure1 {
        float: right;
        margin-right: 10%;
        color: #fff;
    }
}

@media screen and  (min-width: 0px) and  (max-width: 768px) {
    body .navbar-nav1 {
        position: absolute;
        top: -8px;
        left: -25%;
        max-width: 100px;
    }

    body .navbar-nav1 > li > a {
        position: absolute;
        top: 0;
        left: 115px;
        padding: 10px 10px;
        display: inline-block;
        background: rgba(255, 255, 255, 1);
    }

    body .navbar-nav1 .input-group-btn {
        position: absolute;
        top: 0;
        left: 104px;
    }

    body .navbar-nav2 {
        position: absolute;
        top: -7px;
        right: 45%;
        margin-right: 0;
    }

    body .btn-sure {
        float: right;
        margin: 0;
        color: #fff;
        position: absolute;
        right: -61px;
        top: -40px;
    }

}



